.left__side {
  width: 65%;
  height: 100%;
  position: relative;
}

.left__side > img {
  width: 100%;
  height: 100%;
}

.blur__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 16px;
  position: absolute;
  top: 40px;
  left: 40px;
}

.degree__value {
  font-family: "PT-Sans";

  font-size: 110px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info {
  display: flex;
  align-items: flex-end;

  gap: 30px;
  position: absolute;
  left: 60px;
  bottom: 80px;
  z-index: 10;
}

.city__date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.city__date > h2 {
  font-size: 39px;
}

.city__date > h5 {
  font-size: 19px;
}

.weather__icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.weather__icon > span {
  font-size: 19px;
  font-weight: 600;
}

.weather__icon > img {
  width: 60px;
  object-fit: contain;
}

@media (max-width: 850px) {
  .left__side {
    border-radius: 20px 20px 0 0;
    overflow: hidden;
  }

  .title {
    font-size: 16px;

    top: 20px;
    left: 20px;
  }

  .degree__value {
    font-size: 90px;

    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .info {
    left: 20px;
    bottom: 20px;
  }

  .city__date > h2 {
    font-size: 30px;
  }

  .city__date > h5 {
    font-size: 15px;
  }

  .weather__icon > span {
    font-size: 15px;
  }

  .weather__icon > img {
    width: 50px;
  }
}

@media (max-width: 700px) {
  .left__side {
    width: 90%;
  }

  .degree__value {
    font-size: 70px;
    top: 40%;
  }
}

@media (max-width: 600px) {
  .degree__value {
    font-size: 60px;
  }

  .city__date > h2 {
    font-size: 25px;
  }

  .city__date > h5 {
    font-size: 14px;
  }

  .weather__icon > span {
    font-size: 14px;
  }

  .weather__icon > img {
    width: 40px;
  }
}

@media (max-width: 500px) {
  .left__side {
    width: 100%;
    border-radius: 0;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 14px;
  }

  .degree__value {
    font-size: 50px;
  }

  .city__date > h2 {
    font-size: 21px;
  }

  .city__date > h5 {
    font-size: 12px;
  }

  .weather__icon > span {
    font-size: 12px;
  }
}
