.left__side {
  width: 65%;
  height: 100%;
  position: relative;
}

.left__side > img {
  width: 100%;
  height: 100%;
}

.blur__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 16px;
  position: absolute;
  top: 40px;
  left: 40px;
}

.degree__value {
  font-family: "PT-Sans";

  font-size: 110px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info {
  display: flex;
  align-items: flex-end;

  gap: 30px;
  position: absolute;
  left: 60px;
  bottom: 80px;
  z-index: 10;
}

.city__date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.city__date > h2 {
  font-size: 39px;
}

.city__date > h5 {
  font-size: 19px;
}

.weather__icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.weather__icon > span {
  font-size: 19px;
  font-weight: 600;
}

.weather__icon > img {
  width: 60px;
  object-fit: contain;
}
