.right__side {
  width: 35%;
  height: 100%;
  background-color: rgb(204, 193, 173, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  overflow-y: auto;
  gap: 12px;
}

.search__box {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.input__wrapper {
  width: 82%;

  display: flex;
  justify-content: center;
}

.input {
  padding: 10px 0;
  color: #111;
  background: transparent;
  border-bottom: 2px solid rgb(203, 194, 194);
  align-self: flex-end;
  width: 70%;
  font-size: 19px;
  outline: none;
}

.search__box > button {
  width: 18%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f29727;
  border: none;
  cursor: pointer;
  transition: all 200ms ease;
}

.search__box > button:hover {
  opacity: 0.8;
}

.search__icon {
  font-size: 25px;
}

.weather__details {
  width: 100%;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.weather__details > h3 {
  color: #fff;
  font-size: 20px;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid rgb(203, 194, 194);
  padding-bottom: 15px;
}

.details__ele {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.details__ele > h4 {
  color: rgb(203, 194, 194);

  font-size: 14px;
  letter-spacing: 1.1px;
}

.details__ele > span {
  font-size: 14px;
  color: #fff;
}

.temp__icon {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.temp__icon > img {
  width: 30px;
  object-fit: contain;
}

.temp__icon > span {
  font-size: 14px;
  color: #fff;
}

@media (max-width: 1090px) {
  .weather__details {
    padding: 0 30px;
  }

  .input {
    width: 90%;
  }
}

@media (max-width: 850px) {
  .right__side {
    width: 65%;
    background-color: rgb(204, 193, 173, 0.3);
    border-radius: 0 0 20px 20px;
  }
}

@media (max-width: 700px) {
  .right__side {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .right__side {
    width: 100%;
    border-radius: 0;
  }
}
